.webpage {
    display: flex;
    justify-content: center;

    
}

.page {
    width: 500px;
    height: 700px;
    border: 1px solid black;
    background: #3180c3;
}

.definition-style {
    width: 400px;
    height: 100px;
    margin: 25px 0px 0px 15px;
}

.definition-text {
    margin: 5px 0px 0px 15px;
    width: 425px;
    font-size: 16px;
}

.spit-style {
    width: 70%;
    height: 30%;
    margin: 5px 0px 0px 75px;
}

.headers {
    display: flex;
    justify-content: space-evenly;
}


.header-text-left {
    margin: 0px 0px 0px 45px;
}

.header-text-right {
    margin: -20px 0px 0px 265px;
}
